.toolbar-toggle-scan {
    width: 32px;
    height: 32px;
    background-position: -173px -341px;
}

.toolbar-toggle-solid{
    width: 32px;
    height: 32px;
    background-position: -341px -131px;
}
